# Terraform Cloud ----------------------------------------------------------------------------------
terraform {
  backend "remote" {
    hostname = "app.terraform.io"
    organization = "Cisco-SRE"

    workspaces {
      name = "GPO-FSO-EKS-LAB-1"
    }
  }
}
